# PostgreSQL Client Authentication Configuration File
# ===================================================
# Refer to the "Client Authentication" section in the PostgreSQL
# documentation for a complete description of this file.
# ===================================================

{% for entry in pg_hba_entries %}
{{ entry }}
{% endfor %}

{% if item.pg_hba_entries is defined %}
#### custom settings
{% for entry in item.pg_hba_entries %}
{{ entry }}
{% endfor %}
{% endif %}

