{
    "CN": "farhan@gmail.com",
    "hosts": [
        "192.168.1.21"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "DE",
            "ST": "SH",
            "L": "Kiel"
        }
    ]
}
