cfssl gencert -ca=/root/cfssl/ca.pem -ca-key=/root/cfssl/ca-key.pem -config=/root/cfssl/ca-config.json -profile=server /root/cfssl/server.json | cfssljson -bare /root/cfssl/server

cfssl gencert -ca=/root/cfssl/ca.pem -ca-key=/root/cfssl/ca-key.pem -config=/root/cfssl/ca-config.json -profile=peer /root/cfssl/pgnode1.json | cfssljson -bare /root/cfssl/pgnode1
cfssl gencert -ca=/root/cfssl/ca.pem -ca-key=/root/cfssl/ca-key.pem -config=/root/cfssl/ca-config.json -profile=peer /root/cfssl/pgnode2.json | cfssljson -bare /root/cfssl/pgnode2
cfssl gencert -ca=/root/cfssl/ca.pem -ca-key=/root/cfssl/ca-key.pem -config=/root/cfssl/ca-config.json -profile=peer /root/cfssl/pgnode3.json | cfssljson -bare /root/cfssl/pgnode3

cfssl gencert -ca=/root/cfssl/ca.pem -ca-key=/root/cfssl/ca-key.pem -config=/root/cfssl/ca-config.json -profile=client /root/cfssl/client.json | cfssljson -bare /root/cfssl/client
