! Configuration File for keepalived

global_defs {
    notification_email {
      {{ notification_mail }} (email depends on you)
    }
    notification_email_from dba@gmail.com
    smtp_server 127.0.0.1
    smtp_connect_timeout 30
}

vrrp_script haproxy {
    script "/usr/bin/kill -0 haproxy"
    interval 2
    weight 2
    timeout 2
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state {% if state == 'master' %}MASTER{% elif state == 'backup' %}'BACKUP'{% endif%} #Haproxy1 will have state {% if state == 'master' %}MASTER{% elif state == 'backup' %}'BACKUP'{% endif%} and Haproxy2 will have state STANDBY. It defined by hostname. So, haproxy1 will always have state {% if state == 'master' %}MASTER{% elif state == 'backup' %}'BACKUP'{% endif%}. There are only 2 Haproxy node.
    interface {{ iface_used }} #Based on interface name. This interface name will depends on which interface that used to be accessed by apps. We will create virtual IP on this interface. For example, when you check with command ip addr, you can see which interface that use IP that accessed by ansible. In this case, IP 192.168.1.24 is the host IP that accessed by ansible and have interface name "{{ iface_used }}". In client side, it will depends on client host configurations.
    virtual_router_id 51
    priority {% if state == 'master'%}101{% elif state == 'backup'%}100{% endif%}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }

    virtual_ipaddress {
        {{ virtual_ip_addr }} dev {{ iface_used }} #This is depends on Virtual IP that will used by Client.
    }
    track_script {
      haproxy
    }
}
