{
    "CN": "cluster-dev",
    "hosts": [
        "192.168.1.21",
        "192.168.1.22",
        "192.168.1.23",
        "127.0.0.1"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "DE",
            "ST": "SH",
            "L": "Kiel"
        }
    ]
}